{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
   },
   "ecmaFeatures": {
    "es6": true,
    "classes": true,
    "jsx": true,
   }
}
